body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    color: #383838;
}

.vertical {
    writing-mode: vertical-lr;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 2vw;
}

td, th {
    border: 1px solid #aaaaaa;
    padding: 0.2rem 0.4rem;
    width: 4rem;
}

tr:first-child th {
    border-top: 0;
}

table.estimatedRatings td:first-child, th:first-child {
    border-left: 0;
}

span.actual {
    display: none;
}

td:hover span.actual {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    left: 0.5rem;
    z-index: 100;
}

td.rating {
    text-align: center;
}

td.accurate {
    background-color: #7CD12A;
}

td.rightish {
    background-color: yellow;
}

td.wrongish {
    background-color: orange;
}

td.wayoff {
    background-color: red;
}

table.userFeatures td {
    width: 3rem;
}

div.nextbutton {
    flex-basis: 10vw;
}

div.nextbutton button {
    font-size: 2rem;
    padding: 0.4rem 0.8rem;
    background-color: #7CD12A;
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin-bottom: 2vw;
}
